.form {
  background-color: white;
  padding: 20px;
  width: 800px;
  margin: auto auto;
  .block {
    margin: auto auto;
  }

  .item {
    margin: 20px;
    min-width: 400px;
  }
}

.buttons {
  margin: 20px;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
}
